@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap');

body {
  font-family: 'Josefin Sans', sans-serif;
}

a h1 {
  color: rgb(241, 241, 241);
}

a {
  text-decoration: none;
}

.App {
  text-align: center;
}

.header {
  padding: 1rem 1rem 0 1rem;
  display: flex;
  justify-content: space-between;
  background-color: #282c34;
  color: rgb(241, 241, 241);
}

.header>h1 {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.start-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 75vh;
}

.start-button {
  color: white;
  background-color: #2b4e66;
  width: 12rem;
  font-size: 3rem;
  cursor: pointer;
  border: none;
  font-family: 'Josefin Sans';
  padding: 1.5rem 1rem 1rem 1rem;
  border-radius: 8px;
  box-shadow: 5px 5px #00000002;
  cursor: pointer;
}

.choose-characters-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.choose-team-container.player-one {}

/* CHARACTER CARD */

.character-card {
  display: flex;
  padding: 1rem 1rem 0.1rem 1rem;
  text-align: left;
  height: 12rem;
  width: unset;
  margin-bottom: 2rem;
  box-shadow: 5px 5px #0000002b;
  background-color: white;
  border-radius: 5px;
}

.character-card:hover {
  box-shadow: 8px 8px #00000020;
  background-color: #00000002;
  cursor: pointer;
}

.character-card:hover .character-add-button {
  background-color: #2b6654;
  transition: 300ms;
  cursor: pointer;
  border-color: #2b6654;
}

.character-card .character-image {
  display: inline-block;
  flex: 1;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.character-card .character-desc {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1rem;
}

.character-card .character-desc h3 {
  font-size: 2rem;
  margin-block-start: 0;
  margin-block-end: 0;
}

.character-card .character-desc p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.character-add-button {
  width: fit-content;
  align-self: end;
  background-color: #282c34;
  color: white;
  height: 2.5rem;
  border-radius: 5px;
  padding-left: 2rem;
  padding-right: 2rem;
  border: 1px solid black;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media only screen and (min-width: 900px) {
  .choose-characters-container {
    flex-direction: row;
  }

  .character-card {
    width: 520px;
  }

  .character-card .character-desc {
    flex: 3;
  }
}